// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1280px;

// Primary font-size
$primary-font-size: 1.25rem;

// Secondary font-size
$secondary-font-size: 0.75rem;

// primary color
$primary-color: #CACACA;

// Secondary color
$secondary-color: #282C31;

// Third color for background
$third-color: #212427;

// Fourth color for main backgorund
$forth-color: #E5E5E5;

// Fifth color pink
$fith-color: #E786D7;

//Sixth color violet
$sixth-color: #7F7FD5;

//Seventh color for borders
$seventh-color: #4C4C4C;

// Border radius
$rounded: 14px;
